<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Meta description tailored for a marketplace -->
        <meta name="description" content="Expense Tracker" />
        <!-- Meta keywords for marketplace relevance (optional) -->
        <meta name="keywords" content="Expenses" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
                defer></script>
        <title>
            {% block title %}
            {% endblock title %}
        | Your Dashboard</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <a href="{% url 'dashboard:expense_list' %}">
            <h1>Expenses</h1>
        </a>
        <a href="{% url 'dashboard:create_expense' %}">
            <h1>Add expenses</h1>
        </a>
        <a href="{% url 'dashboard:settle_up' %}">
            <h1>Settle expenses</h1>
        </a>
        <form method="POST" action="{% url 'users:logout' %}" class="block">
            {% csrf_token %}
            <button type="submit"
                    class="w-full text-left px-4 py-2 text-red-600 hover:bg-red-100">Logout</button>
        </form>
        <div class="container mx-auto px-6 py-6">
            {% block content %}
                <h1>Select Something</h1>
            {% endblock content %}
        </div>
        <script src="" async defer></script>
    </body>
</html>
